.button {
  border: none;
  background-color: var(--color-black);
  color: var(--color-secondary);
  transition: all 0.5s ease-out;

  background-image: url("./assets/arrow-left.png");
  background-size: contain;
  background-position: center bottom 50px;
  background-attachment: fixed;
}

.button-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  height: 20px;
}

.button:hover {
  background-color: var(--color-primary);
}
