@import "components/card/card.css";
@import "components/search-bar/search-bar.css";
@import "components/nav-button/nav-button.css";
@import "components/nav-pagination/nav-pagination.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: rgb(51, 51, 51);
  --color-secondary: #f6f6f6;
  --color-black: black;
  --color-radioactive: greenyellow;
  --font-family: system-ui;
}

body {
  font-family: var(--font-family);
  color: var(--color-primary);
  padding: 20px;

  background-image: url("./assets/starry-night-background.jpg");
  background-position: center bottom 50px;
  background-attachment: fixed;
}

main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-top: 140px;
  margin-bottom: 170px;
}

/* HEADER */

.header {
  display: flex;
  flex-direction: column;
  position: fixed;
  color: transparent;
  height: 140px;

  top: 0;
  left: 0;
  width: 100vw;
  justify-content: center;
  align-items: center;
  z-index: 1;

  background-image: url("./assets/starry-night-background.jpg");
  background-position: center top -50px;
  background-attachment: fixed;
}

.header img {
  max-width: 350px;
  z-index: 1;
}

.rick-morty-page-bottom {
  width: 400px;
  display: flex;
  justify-content: right;
  position: fixed;
  bottom: 50px;
  right: -20px;
}

.rick-morty-page-bottom img {
  width: 170px;
}
