.caxrd-container {
  /* margin-bottom: 320px; */
}
.card {
  width: 300px;
  background-color: var(--color-secondary);

  margin-bottom: 30px;
  border-radius: 1rem;
  overflow: hidden;

  /* animation: flicker 2s infinite; */
  /* box-shadow: var(--color-radioactive) 0 1px 60px; */
}

@keyframes flicker {
  0% {
    box-shadow: var(--color-radioactive) 0 1px 60px;
  }
  50% {
    box-shadow: var(--color-black) 0 1px 60px;
  }
  100% {
    box-shadow: var(--color-radioactive) 0 1px 60px;
  }
}

.card__info {
  display: grid;
  grid-template-columns: auto 1fr;
}
.card__content {
  padding: 10px 20px 20px;
  display: grid;
  gap: 20px;
}

.card__info-description {
  text-align: right;
}

li {
  list-style: none;
}

/* .flicker-animation {
  animation: flicker 1s infinite;
} */

.card.animate {
  animation: flicker 2s infinite;
}
