.caxrd-container {
  /* margin-bottom: 320px; */
}
.card {
  width: 300px;
  /* height: 350px; */
  background-color: var(--color-secondary);

  margin-bottom: 40px;
  border-radius: 1rem;
  overflow: hidden;

  /* box-shadow: var(--color-radioactive) 0 1px 40px; */
  /* box-shadow: var(--color-black) inset 0 1px 5px; */
}

@keyframes flicker {
  0% {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  40% {
    box-shadow: 0 1px 40px var(--color-radioactive);
  }
  60% {
    box-shadow: 0 1px 40px var(--color-radioactive);
  }
  100% {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
}

.card.animate {
  animation: flicker 4s infinite;
}

.card__info {
  display: grid;
  grid-template-columns: auto 1fr;
}
.card__content {
  padding: 10px 20px 20px;
  display: grid;
  gap: 20px;
}

.card__info-description {
  text-align: right;
}

li {
  list-style: none;
}
