.navigation {
  height: 50px;
  display: grid;
  grid-template-columns: 1fr 20% 1fr;

  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.navigation__pagination {
  display: grid;
  place-items: center;

  background-color: var(--color-primary);
  color: var(--color-secondary);
}
